.card-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    color:#007E7F;
    background-color: #FFFFFF;
    border: 3px solid #007E7F;
    border-radius: 2%;
    height: 15em;
    width: 15em;
    margin: 1em;
  }