.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* contain: content; */
    background-color: #FFFFFF;
    border: 4px solid #007E7F;
    border-radius: 2%;
    width: 15em;
    height: 15em;
  }